<div class="text-center">
  <h1>New Track</h1>
</div>

<%= render "form", item_locations: @item_locations  %>

<br>

<div class="text-center">
  <%= link_to "Back to items", item_locations_path , class: "btn btn-secondary" %>
</div>
