<div class="card mb-4" id="<%= dom_id item %>" >

  <div class="card-body">
    <p class="card-text">
      <strong>Name:</strong>
      <%= item.name %>
    </p>
    <p class="card-text">
      <strong>Description:</strong>
      <%= item.description %>
    </p>
    <p class="card-text">
      <strong>Price:</strong>
      <%= item.price %>
    </p>
  
  </div>
</div>
