<h1 class="text-center">Editing item</h1>

<%= render "form", item: @item, class: "form-control" %>

<br>

<div class="text-center">
  <%= link_to "Show this item", @item, class: "btn btn-primary" %> |
  <%= link_to "Back to items", items_path, class: "btn btn-primary" %>
</div>
