<p class="alert alert-success"><%= notice %></p>

<h1 class="text-center">Items</h1>

<div id="items" class="row">
  <% @items.each do |item| %>
    <%= render 'item', item: item %>
    <p class="text-center">
      <%= link_to "Show this item", item_path(item[:id]), class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "New item", new_item_path, class: "btn btn-primary" %>
