<div class="text-center">
  <h1>New item</h1>
</div>

<%= render "form", item: @item  %>

<br>

<div class="text-center">
  <%= link_to "Back to items", items_path , class: "btn btn-secondary" %>
</div>
