<p class="alert alert-success" role="alert"><%= notice %></p>

<div class="text-center">
  <h1>Locations</h1>
</div>

<div class="container" id="locations">
  <div class="row">
    <% @locations.each do |location| %>
      <div class="col-md-4">
        <%= render location %>
        <p class="text-center">
          <%= link_to "Show this location", location, class: "btn btn-primary" %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center">
  <%= link_to "New location", new_location_path, class: "btn btn-success" %>
</div>
