<div class="text-center">
  <h1>New location</h1>
</div>

<%= render "form", location: @location %>

<br>

<div class="text-center">
  <%= link_to "Back to locations", locations_path, class: "btn btn-secondary" %>
</div>
